<h1 class="">Edit Post</h1>

<div class="row">
  <div class="col-md-4">
    <h5>Guidelines for posts:</h5>
    <ul>
      <li>Post on true and factual information.</li>
      <li>Please source all information.</li>
      <li>If you post false information, you will be removed from the site.</li>
      <li>Feel free to use Markdown Syntax!</li>
        <ul>
          <li><a href="https://beegit.com/markdown-cheat-sheet" target="_blank">Click here for a refresher.</a></li>
        </ul>
    </ul>
    <hr>
    <% if current_user && @wiki.user == current_user || current_user.admin? %>
      <h4 class="text-center">Wiki Collaborators:</h4>
        <%= form_for [@wiki] do |f| %>

          <% if @wiki.errors.any? %>
             <div class="alert alert-danger">
               <h4>There are <%= pluralize(@wiki.errors.count, "error") %>.</h4>
               <ul>
                 <% @wiki.errors.full_messages.each do |msg| %>
                   <li><%= msg %></li>
                 <% end %>
               </ul>
             </div>
          <% end %>

          <%= collection_check_boxes(:wiki, :user_ids, User.all - [f.object.user], :id, :email) do |user| %>
            <div class="checkbox">
              <%= user.label do %>
                <%= user.check_box %>
                <%= user.object.name %>
                <br>
                <%= user.object.email %>
                <hr class="low-margin">
              <% end %>
            </div>
          <% end %>

          <div class="form-group text-center">
             <%= f.submit "Save", class: 'btn btn-success' %>
          </div>
        <% end %>
    <% end %>
    <% if current_user && current_user.standard? %>
      <p class="text-center">Want to add collaborators? Click to upgrade.</p>
      <div class="text-center"><%= link_to "Upgrade to Premium", new_charge_path, class: "btn btn-primary btn-lg" %></div>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form' %>
  </div>
</div>
