<h1 class="text-center">Public Wikis</h1>
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<div class="media">
				<div class="media-body">
					<% @wikis.each do |wiki| %>
						<% if wiki.private == false || (current_user ? current_user.admin? : nil) %>
							<tr>
								<td>
									<h4 class="media-heading">
									<%= link_to wiki.title, wiki %>
										<small>
											<% if wiki.private == true %>
											 	- <strong>Private</strong>
											<% end %>
											- Updated <%= time_ago_in_words(wiki.updated_at) %> ago.
										</small>
									</h4>
									<small>Created by <%= wiki.user.name %></small>
								</td>
								<td width="3rem">
									<% if current_user %>
										<%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-success" %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</div>
			</div>
		</table>
	</div>
</div>
<div class="text-center">
	<%= link_to "New Wiki", new_wiki_path, class: "btn btn-primary btn-lg" %>
</div>
