<h1 class="text-center">My Wikis</h1>
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<div class="media">
				<div class="media-body">
					<h4 class="text-center">Public Wikis</h4>
					<% @user.wikis.each do |wiki| %>
						<% if wiki.private == false %>
							<tr>
								<td>
									<h4 class="media-heading"><%= link_to wiki.title, wiki %>
									<small>
										<% if wiki.private == true %>
											- <strong>Private</strong>
										<% end %>
										 - Updated <%= time_ago_in_words(wiki.updated_at) %> ago.
									 </small>
								 </h4>
							 </td>
								<td width="3rem"><%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-success" %></td>
							</tr>
						<% end %>
					<% end %>
				</div>
			</div>
		</table>
		<% unless @user.standard? %>
			<table class="table">
				<div class="media">
					<div class="media-body">
						<h4 class="text-center">Private Wikis</h4>
						<% @user.wikis.each do |wiki| %>
							<% if wiki.private == true %>
								<tr>
									<td>
										<h4 class="media-heading"><%= link_to wiki.title, wiki %>
										<small>
											<% if wiki.private == true %>
												- <strong>Private</strong>
											<% end %>
											 - Updated <%= time_ago_in_words(wiki.updated_at) %> ago.
										 </small>
									 </h4>
								 </td>
									<td width="3rem"><%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-success" %></td>
								</tr>
							<% end %>
						<% end %>
					</div>
				</div>
			</table>
		<% end %>
	</div>
</div>
<div class="text-center">
	<%= link_to "New Wiki", new_wiki_path, class: "btn btn-primary btn-lg" %>
</div>
